html {
    height: 100%;
    width: 100%;
  }
  body {
    background-image: url(https://wallpapertag.com/wallpaper/full/5/c/2/141471-gorgerous-travel-background-2560x1440-for-4k.jpg)
  }
  fieldset {
    background-color: rgb(196, 249, 255);
    width: 28%;
  }
  legend {
    font-style: italic;
    font-size: large;
    text-align: center;
    background-color: rgb(160, 250, 208);
  }