html {
    height: 100%;
    width: 100%;
  }
  body {
    background-image: url(https://media.istockphoto.com/id/1391832007/photo/summer-blue-sky-cloud-gradient-light-white-background-beauty-clear-cloudy-in-sunshine-calm.jpg?b=1&s=170667a&w=0&k=20&c=QiDwJbJUDlpeKXUdNV2cDD1K24Hct7rsZqMn7aFeoF4=);
    background-size: cover;
  }
  