html {
    height: 100%;
    width: 100%;
  }
  body {
    background-image: url(https://wallpapertag.com/wallpaper/full/5/c/2/141471-gorgerous-travel-background-2560x1440-for-4k.jpg)
  }
  fieldset {
    background-color: white;
  }
  legend {
    background-color: white;
  }