body{
  background-image: url(img/7-1bg.png);
    /*this height allows us to see the full background picture vertically*/
  height: 2875px;
  /*this width prevents the images from wrapping*/
  width: 1600px;
  background-repeat: no-repeat;
  background-position: 200px 0;
  
}
img{
  /*these properties together allow inline elements on the same row to have independent top and bottom margins/padding*/
  display:inline-block;
  vertical-align: top;
}

/*
Add your CSS to the ID selectors below
*/

#ball{
  padding-left: 215px;
  padding-top: 12px;
}

#turnip{
  padding-left: 489px;
  padding-top: 188.6px;
}

#grass{
  padding-left: 47px;
  padding-top: 189px;
}

#L{
  padding-left: 292px;
  padding-top: 1343px;
}

#T{
  padding-left: 96px;
  padding-top: 1446px;
}

#I{
  padding-left: 295px;
  padding-top: 1348px;
}